/*************************************
Variables used across the website
*************************************/

// COLORS
$black: #000;
$white: #fff;
$orange: #FF9100;


// FONTS
$sans-serif: 'Montserrat', sans-serif;
$serif: 'Droid Serif', serif;

// BREAKPOINTS
$mobile: 767px;
$tablet: 1024px;
$desktop: 1025px;
